# Environment
NODE_ENV=development

# Server
PORT=8080


# ArangoDB System Configuration
ARANGO_SYS_URL=http://localhost:8529
ARANGO_SYS_DB=_system
ARANGO_SYS_USER=root
ARANGO_SYS_PASSWORD=root

# ArangoDB Application Configuration
ARANGO_APP_URL=http://localhost:8529
ARANGO_APP_DB=Getting-Started
ARANGO_APP_USER=root
ARANGO_APP_PASSWORD=root


#Redis configuration
REDIS_HOST=localhost
REDIS_PORT=6379

#Queue configuration
QUEUE_NAME=flightBookings
QUEUE_HOST_ID=Flight Booking Redis

#Splunk configuration
SPLUNK_HEC_TOKEN=0f554c83-74be-41c6-a3ad-4bba7eb5d728
SPLUNK_HEC_URL=https://localhost:8088
SPLUNK_INDEX=integration_service_logs
SPLUNK_SOURCE=json
SPLUNK_SOURCETYPE=_json
SPLUNK_LOG_LEVEL=silly

